{% extends "layout/index.html" %} {% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Mombasa Youths Awards 2023</h1>
        <p class="lead text-body-secondary">
          Thank you for visiting the site. We have moved to  <a href="https://www.mombasayouthsawards.co.ke/">https://www.mombasayouthsawards.co.ke/</a>
        </p>
        <p>
          <a href="https://www.mombasayouthsawards.co.ke/vote" class="btn btn-success my-2"
            >Start Voting</a
          >
        </p>
      </div>
    </div>
  </section>
{% endblock %}
