<h1>Mombasa Youth Awards</h1>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

<h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li>
                <h2>{{ category.name }}</h2>
                <p>{{ category.description }}</p>
                <ul>
                    {% for nominee in category.nominee_set.all %}
                        <li>{{ nominee.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>